[submodule "website/plugins/ipynb"]
	path = website/plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "website/plugins/pelican-plugins"]
	path = website/plugins/pelican-plugins
	url = git://github.com/getpelican/pelican-plugins.git
