numpy==1.21.2
pandas==1.3.3
scipy==1.7.1
scikit-learn==1.0.0
scikit-image==0.18.3
pillow==8.3.2
matplotlib==3.4.3
seaborn==0.11.2
jupyterlab
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
