numpy==1.20.1
pandas==1.2.3
scipy==1.6.1
scikit-learn==0.24.1
scikit-image==0.18.1
pillow==8.1.2
matplotlib==3.3.4
seaborn==0.11.1
jupyterlab
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
