numpy==1.11.1
pandas==0.18.1
scipy==0.17.1
scikit-learn==0.17.1
scikit-image==0.12.3
pillow==9.3.0
matplotlib==1.5.1
seaborn==0.7.0
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
