{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ DISQUS_SITENAME }}';
      var disqus_identifier = '/{{ article.url }}';
      var disqus_url = '{{ SITEURL }}/{{ article.url }}';
      var disqus_title = '{{ article.title | replace("'", "\\'")}}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = "//" + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </section>
{% endif %}
